<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Janken Game Screen</title>
</head>

<body>
  <h1>Janken GAME!</h1>
  <div th:if="${unameResult}">
    Hi [[${unameResult}]]
  </div>
  <p>
    <a href="/jankengame?hand=gu">ぐー</a>
    <a href="/jankengame?hand=tyoki">ちょき</a>
    <a href="/jankengame?hand=pa">ぱー</a>
  </p>
  <div th:if="${zibun}">
    あなたの手 [[${zibun}]]
  </div>
  <div th:if="${aite}">
    あいての手 [[${aite}]]
  </div>
  <div th:if="${syouhai}">
    結果 [[${syouhai}]]
  </div>
</body>

</html>
